if ARCH_S5PC1XX

choice
	prompt "S5PC1XX board select"
	optional

config TARGET_S5P_GONI
	bool "S5P Goni board"
	select OF_CONTROL

config TARGET_SMDKC100
	bool "Support smdkc100 board"
	select OF_CONTROL

config TARGET_TINY210
	bool "Support Samsung Tiny210"
	select SUPPORT_SPL
	select SPL
		help
		Support Samsung Tiny210 platform based on Samsung s5pv210.


endchoice

config SYS_SOC
	default "s5pc1xx"

source "board/samsung/goni/Kconfig"
source "board/samsung/smdkc100/Kconfig"
source "board/samsung/tiny210/Kconfig"

endif
