/*
 * Copyright (c) 2015 Actions Semi Co., Ltd.
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */
/dts-v1/;

/ {
	uart5: serial@e012a000 {
		compatible = "actions,s900-serial";
		u-boot,dm-pre-reloc;
	};
};
